.viewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tableScroll {
  flex: 1;
  overflow-y: auto;
}

.cursorPointer {
  cursor: pointer;
}

.cursorInherit {
  cursor: inherit;
}
